# Anthropic Claude
ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Channel Talk Open API
CHANNEL_ACCESS_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# 채널톡 도큐먼트 Knowledge Base ID
CHANNEL_KNOWLEDGE_BASE_ID=xxxxxxxxxxxxxxxx

# 서버 포트 (기본값: 3000)
PORT=3000
